form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 728px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (min-width: 728px) {
    mat-form-field {
        min-width: 35vw;
    }
}