form {
    display: flex;
    flex-direction: column;
}

    @media screen and (min-width: 728px) {
        max-width: 40vw;
    }
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

button {
    max-width: 10vw;
}